<div class="row">
  <h3>
    <%= @exam_paper[:year] %> - <%= @exam_paper[:province_text] %> -
    <%= @exam_paper[:arts_science_text] %> - 第<%= @question[:number] %>题
  </h3>
</div>

<div class="row">
</div>
